<div class="row">
  <div class="col-md-4">
    <form class="form-inline" [formGroup]="todoCreateForm" (ngSubmit)="add()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Add todo" formControlName="title">
      </div>
      <button class="btn btn-primary" *ngIf="todoCreateForm.get('id').value">Update</button>
      <button class="btn btn-primary" *ngIf="!todoCreateForm.get('id').value">Create</button>
    </form>
  </div>
  <div class="col-md-3 offset-5">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <input type="text" class="form-control" placeholder="Search" formControlName="term">
    </form>
  </div>
</div>